.header-bar {
    position: absolute;
    top: 0;
    right: 4%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    vertical-align: middle;

    a {
        padding: 0 8px;
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    .header-bar {
        a {
            color: #fff;
        }
    }
}
