body {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  color: #000;
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #303030;
  }
}
