.content {
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 4%;
  background-color: #fff;
  opacity: 0.92;

  .card-info {
    position: relative;
    background-color: #fff;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    opacity: 0.75;

    .me {
      text-align: center;
      display: block;
      margin: 1em 0 auto;
    }

    .name {
      text-align: center;
      font-size: 1.475rem;
      font-weight: bold;
      padding-top: 1.6rem;
      margin: 0;
    }

    .position {
      list-style: none;
      text-align: center;
      font-size: 1.12rem;
      font-weight: bold;
      padding: 1.2rem 0 0;
      margin: 0;
    }

    .contact {
      text-align: center;
      padding: 0.8rem 0;
      margin: 0;
    }
  }
}

.footer-area {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px 0;
  width: 100%;
  border-top: 1px #ccc solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: middle;

  button {
    margin: 0 4px;
  }
}

@media (min-width: 481px) {
  .card-info {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}
