.top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 800px;
    max-width: calc(100% - 64px);
    padding: 32px;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
