.wrapper {
  &_payment {
    min-height: 60px;
  }
}

.content {
  min-width: 20rem;
  position: relative;
  background-color: #fff;
  padding: 0 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  opacity: 0.75;

  .checkout-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

    .me {
      text-align: center;
      display: block;
      margin-top: 1em;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.checkout-button {
  display: block;
  width: 100%;
  height: 37px;
  background-color: #6772e5;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  border: none;
  margin-bottom: 0.8rem;
}
