.play {
  font-size: 20px;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  border: 0.1em solid #39a9d6;
  border-radius: 100%;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
    width: 0;
    height: 0;
    border-top: 0.4em solid transparent;
    border-left: 0.6em solid #39a9d6;
    border-bottom: 0.4em solid transparent;
  }
}
