.cookie-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #dfdbdd;
    color: #272927;
    padding: 1.25em;
    z-index: 9999;

    .content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        vertical-align: middle;

        .title {
            font-size: 14px;
            font-weight: bold;
        }

        a {
            color: #F29EAC;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .cookie-footer {
        background-color: #424851;
        color: #fff;
    }
}
